{% extends "layout.html" %}
{% block content%}

<h2>WHAT DO YOU WANT TO ADD TODAY?</h2>

<div class="content-section">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add note</legend>
            <div class="form-group">
                {{ form.newnote.label(class="form-control-label")}}
                {{ form.newnote(class="form-control form-control-lg")}}
            </div>
            <div class="form-group">
                {{ form.studentlist.label(class="form-control-label")}}
                {{ form.studentlist(class="form-control form-control-lg")}}
            </div>
            <div class="form-check">
                {{ form.date(class="form-check-input") }}
                {{ form.date.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
</div>
            


{% endblock content%}
    

