{% extends "layout.html" %}
{% block content%}


<select>
  <option>Choisissez</option>
  <option value="all">All notes</option>
  <option value="collective">Collective</option>
  <option value="student1">Student1</option>
  <option value="student2">Student2</option>
  <option value="student3">Student3</option>
</select>

<div class="all msg">
    <h1>All notes</h1>
    {% for note in notes %}

    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">Author : {{ note.user }}</a>
            <small class="text-muted">{{ note.date }}</small>
            Student : <small class="text-muted">{{ note.studentlist }}</small>
          </div>
          <p class="article-content">{{ note.content }}</p>
        </div>
      </article>
    
    {% endfor %}
  </div>

  <div class="student1 msg">
    <h1>Student1</h1>
    {% for stu in student1 %}

    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">Author : {{ stu.user }}</a>
            <small class="text-muted">{{ stu.date }}</small>
            Student : <small class="text-muted">{{ stu.studentlist }}</small>
          </div>
          <p class="article-content">{{ stu.content }}</p>
        </div>
      </article>
    
    {% endfor %}
  </div>  

  <div class="student2 msg">
    <h1>Student2</h1>
    {% for stu in student2 %}

    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">Author : {{ stu.user }}</a>
            <small class="text-muted">{{ stu.date }}</small>
            Student : <small class="text-muted">{{ stu.studentlist }}</small>
          </div>
          <p class="article-content">{{ stu.content }}</p>
        </div>
      </article>
    
    {% endfor %}
  </div>  

  <div class="student3 msg">
    <h1>Student3</h1>
    {% for stu in student3 %}

    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">Author : {{ stu.user }}</a>
            <small class="text-muted">{{ stu.date }}</small>
            Student : <small class="text-muted">{{ stu.studentlist }}</small>
          </div>
          <p class="article-content">{{ stu.content }}</p>
        </div>
      </article>
    
    {% endfor %}
  </div>  

  <div class="collective msg">
    <h1>Collective</h1>
    {% for tou in tous %}

    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">Author : {{ tou.user }}</a>
            <small class="text-muted">{{ tou.date }}</small>
            Student : <small class="text-muted">{{ tou.studentlist }}</small>
          </div>
          <p class="article-content">{{ tou.content }}</p>
        </div>
      </article>
    
    {% endfor %}
  </div>   

{% endblock content%}